apiVersion: v1
kind: ConfigMap
metadata:
  name: temporal-config
  namespace: temporal
data:
  development.yaml: |
    log:
      stdout: true
      level: info
    
    persistence:
      defaultStore: default
      visibilityStore: visibility
      numHistoryShards: 512
      datastores:
        default:
          sql:
            pluginName: "postgres12"
            databaseName: "temporal"
            connectAddr: "$(POSTGRES_HOST):$(POSTGRES_PORT)"
            connectProtocol: "tcp"
            user: "$(POSTGRES_USER)"
            password: "$(POSTGRES_PASSWORD)"
            maxConns: 20
            maxIdleConns: 20
        visibility:
          sql:
            pluginName: "postgres12"
            databaseName: "temporal_visibility"
            connectAddr: "$(POSTGRES_HOST):$(POSTGRES_PORT)"
            connectProtocol: "tcp"
            user: "$(POSTGRES_USER)"
            password: "$(POSTGRES_PASSWORD)"
            maxConns: 10
            maxIdleConns: 10
    
    global:
      membership:
        maxJoinDuration: 30s
      pprof:
        port: 7936
    
    services:
      frontend:
        rpc:
          grpcPort: 7233
          membershipPort: 6933
          bindOnIP: "0.0.0.0"
    
    clusterMetadata:
      enableGlobalNamespace: false
      failoverVersionIncrement: 10
      masterClusterName: "active"
      currentClusterName: "active"
      clusterInformation:
        active:
          enabled: true
          initialFailoverVersion: 1
          rpcName: "frontend"
          rpcAddress: "temporal-frontend:7233"
    
    publicClient:
      hostPort: "temporal-frontend:7233"